<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sunmitted Info</h1>
    <p>Name: {{ name_on_template }}</p>
    <p>Dojo Location: {{ location_on_template }}</p>
    <p>How I feel about your Favorite Language: {{ language_on_template }} </p>
    <p>Your Comments {{ comments_on_template }}</p>
</body>
</html>