<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form action='/users' method='post'>
    Name:<input type='text' name='name'>
    <br>
    <br>
    Location: <select name="location" id="">
        <option value="Chicago">Illinois</option>
        <option value="Dallas">Texas</option>
        <option value="Los Angales">California</option>
    </select>
    <br>
    <br>
    Location: <select name="language" id="">
        <option value="Nice and simple huh?">HTML</option>
        <option value="You like to be creative don't you?">CSS</option>
        <option value="So you like having headaces??">JAVASCRIPT</option>
        <option value="Now you've got the right idea ☺ ">PYTHON</option>
    </select>
    <br>
    <br>
    Comments (Optional): <br><textarea name="comments" id="" cols="50" rows="5">Hello There</textarea>
    <br>
    <input type='submit' value='Submit'>
</form>


</body>
</html>